@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://cdn.syncfusion.com/ej2/material.css');
.login-container{
  display: flex;
  
}
.login-illustration{
  width:50%;
  height: 100vh;
  background-color: #fb9300; 
  background: radial-gradient(905px at 4.9% 85.8%, rgb(255, 243, 242) 0.1%, rgb(255, 247, 220) 57.6%);
  display: flex;
  flex-direction: column;
}
.login-illustration-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-decoration: underline;
}

.login-content{
  width:50%;
  height: 100vh;
  /* background-color: #fbce11;  */
  display: flex;
  flex-direction: column;
  
} 
.login-content p{
  display: inline;
  font-size: 30px;
  padding: 20px;
  padding-left: 40px;
  background-color: #f4ca25;
  box-shadow: 0px 10px 23px -5px rgba(158,158,146,0.5);
}
.login-title p img{
  display: inline;
}
.login-title p{
  padding: 4vh 5vw ;
  font-size: 25px;
  color: #dd590d;
  font-weight: 700;
}
.login-title p img{
  margin: 0px 6px;
}
.login-tagline {
  color: #3b1601;
  font-size: 35px;
  font-weight: 500;
}
.login-tagline{
  margin-left: 2em;
} 
.login-tagline-second span{
  color: #dd590d; 
}
.login-part{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container{
  
  margin-bottom: 20px;
}
.input-container label{
  
}
.input-type1{
  height: 25px;
  width: 70%;
  border: none;
  padding:20px;
}
.input-type1:focus{
  outline: none;
}

.input-type2 {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: #fe6e0e;
  border: 1px solid #d04e02;
  color: #fff;
  padding: 10px 20px;
  border-radius: 12px;
}

input[type="submit"]:hover {
  background: #fb9300;
}

.button-container {
  display: flex;
  justify-content: center;
}

.login-form {
  background-color: white;
  padding: 2rem;
  width:60%;
  height: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-container {
  display: flex;
}

.error {
  color: red;
  font-size: 12px;
}

.title {
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: 600;
}
.form{
  padding: 20px;
}
.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 30px 0px;
  margin-bottom:20px ;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.sidebar-container{
  height:100vh;
  width: 100%;
}
.sidebar-title{
  padding: 30px 20px;
  font-size: 24px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.sidebar-title p{
  display: flex;
  align-items: center;
  font-size: 20px;
  color: #dd590d;
  font-weight: 700;
}
.sidebar-option{
  display: flex;
  flex-direction: column;
}
.sidebar-option div{
  font-size: 20px;
}
.sidebar-link:hover{
  background-color: #b3b3ee;
}
.sidebar-link{
  display: flex;
  margin-left: 1em;
  margin-top: 10px;
  width:90%;
  font-size: 20px;
  padding: 20px;
}
.sidebar-link:active{
  /* add faint box shaedow */
  font-size: 20px;
  padding: 20px;
  box-shadow: 1px -1px 10px 1px rgba(208, 206, 208, 0.7);
  background-color: #b3b3ee;
  border-left: 2px solid rgba(192, 190, 192, 0.7) ;
 
}
.sidebar-link p{
  height: inherit;
  width: 10px;
  
}
.Navbar-container{
  height: 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px -1px 10px 3px rgba(59,57,59,0.7);
}
.Navbar-right{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Navbar-profile{
  padding: 12px;
  margin-right: 10px;
}

/* DASHBOARD */
.dashboard-profile-container{
  display: flex;
  flex-direction: row;
 
  align-items: center;
}
.dashboard-profile{
  margin: 1em 2em;
  width: 60%;
 
  box-shadow: 2px -1px 18px 3px rgba(146, 145, 146, 0.7);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.dashboard-details{
  font-size: 4em;
  font-weight: 600;
  color: var(currentColor);
}


.project-item-container{
  width: 30%;
}
.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}



.ag-courses_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  padding: 50px 0;
}
.ag-courses_item {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);

  margin: 0 15px 30px;

  overflow: hidden;

  border-radius: 28px;
}
.ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  background-color: #121212;

  overflow: hidden;

  position: relative;
}
.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  text-decoration: none;
  color: #FFF;
}
.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}
.ag-courses-item_title {
  min-height: 87px;
  margin: 0 0 25px;

  overflow: hidden;

  font-weight: bold;
  font-size: 30px;
  color: #FFF;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date-box {
  font-size: 18px;
  color: #FFF;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date {
  font-weight: bold;
  color: #f9b234;

  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease
}
.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: #f9b234;

  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color: #3ecd5e;
}
.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
  background-color: #e44002;
}
.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
  background-color: #952aff;
}
.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
  background-color: #cd3e94;
}
.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
  background-color: #4c49ea;
}



@media only screen and (max-width: 1400px) {
  .ag-format-container {
    width: 96%;
  }

}
@media only screen and (max-width: 639px) {
  .ag-courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }
  .ag-courses-item_link {
    padding: 22px 40px;
  }
  .ag-courses-item_date-box {
    font-size: 16px;
  }
}

.kanban-header{
  padding:20px 25px 10px 20px;
  box-shadow: 0px 8px 5px 0px rgba(0,0,0,0.24);

}
.kanban-container{
  min-width: 100%;
  display: inline-block;
  min-height:100vh ;
  padding-top: 30px;
  background-color: rgb(238,242,249);
}
.kanban-boards{
  display: flex;
  flex-direction: rows;
}

.board-container {
   /* margin-top: 1px; */
   margin-left:35px;
   padding: 0;
   width: 300px;
   border-radius: 0px 0px 15px 15px;
   box-shadow: 2px 3px 10px 3px rgba(105, 105, 105, 0.37);
   background-color: #f3f6fd;
   color: rgb(113 124 162);
}
.board-header h1{
  padding: 10px 5px 20px 20px;
  font-size: 20px;
  background-color: #f3f6fd;
  display: flex;
  justify-content: space-around;
}
.board-color{
  width:100%;
  height:4px;
  border-radius: 20px;
}
.board-content{
  padding: 25px 25px; 
  background-color: rgb(252, 253, 255);
  background-color: #f3f6fd;
}
.addboardform{
  display: flex;
  flex-direction: row;
  margin-left: 1.5vw;
  
  border: 1px solid  #a2a7e6 ;
  border-radius: 15px;
  background-color: white;
  box-shadow: 2px 2px 5px 1px rgba(137, 134, 134, 0.37);
  color:  rgb(153, 167, 226);
}
.addboardform:focus-within{
  outline: 1px solid  #b3b3ee ;
}
.add-close{
  padding: 10px;
}
.addboard-input{
  padding:10px 0px;
  margin-left: 7px;
  flex-grow: 2;
  border-radius: 15px;
  border: none ;
  /* box-shadow: 2px 2px 5px 1px rgba(137, 134, 134, 0.37); */
  color:  rgb(153, 167, 226);
}

.addboard-input::placeholder{
  color:  rgb(153, 167, 226);
}
.addboard-input:focus{
  outline: none;
}
.addboard-btn{
  padding: 10px 12px;
  border-radius: 0px 13px 13px 0px; 
  border:  none;
  background-color: rgb(199, 208, 241);
  color: rgb(255, 255, 255) ;
  background-color: #7f53ac;
  background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
}
.addboard-sign{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 13px;
  margin: 0px 3vw;
  width:125px;
  background-color: #fff;
  padding: 15px ;
  box-shadow: 2px 2px 5px 1px rgba(137, 134, 134, 0.37);
  color:  rgb(142, 149, 177);
}

.addboard-sign:hover{
  color:  rgb(153, 167, 226);
}
.card-container{
   display: flex;
   flex-direction: column;
   background-color: white;
   height: 160px;
   width: 100%;
   box-shadow: 2px 2px 5px 1px rgba(137, 134, 134, 0.37);
   /* border:1px dotted black; */
   border-radius: 15px;
   margin-bottom:10px ;
}

.label-container {
  background-color: #fbb034;
  border-radius: 10px 10px 0px 0px;
  background-image:linear-gradient(138.6789deg, #c781ff 17%, #e57373 83%);
  color:#fff;
  display: flex;
  
  gap:10px;
  justify-content: center;
  align-items: center;
  padding:6px;
  width:auto;
  height:20px;
  font-size:16px; 
}
.card-label{
  /* display: flex; */
}
.card-del{
  font-size:15px;
  color: rgb(174, 185, 238);
  margin-left: 150px;
}

.card-name{
  height:55%;
  display: flex;
  flex-direction: column;
  padding: 5px 10px 5px 20px;
}
.card-name h3{
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  color: #a6a6a6;
}
.card-desc{
  display: block;
}

.card-subcontainer{
  font-size: 13px;
  height: 30%;
  color: rgb(155, 166, 208);
  display: flex;
  padding-left: 20px;
  justify-content: space-between;
}

.card-details{
  width:3.5em;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.participants{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.tooltiptext{
  position: absolute;
  padding:10px;
  border: 1px solid #a2a7e6 ;
  background-color: #fff;
  color: rgb(128, 140, 244);
}


.participants div{
  padding: 10px 3px;
}

.ViewCard{
 
}

.viewcard-details{
  padding: 20px 30px;
}
.viewcard-details-section{
  margin: 10px;
}
.viewcard-details-section fieldset{
  border: 1px solid #7f53ac;
}
.viewcard-text{
  margin-left:3px;
  font-weight: 500;
}
.AddTask-container{
  padding: 5px 10px;
  color:  rgb(142, 149, 177);
}

.AddTask-container:hover{
  color:  rgb(153, 167, 226);;
}

.Addtask-input{
  padding: 20px;
}
.addtask-inputs{
  margin: 10px 0px 20px 20px;
  padding: 7px;
  border: 1px solid #7f53ac; 
  border-radius: 10px;
}
@import url('https://cdn.syncfusion.com/ej2/material.css');

.sidebar {
  box-shadow: rgb(113 122 131 / 11%) 0px 7px 30px 0px;
}
.nav-item,
.navbar {
  z-index: 10000;
}
@media  screen and (max-width:800px) {
  .sidebar{
    z-index: 10000000;
  }
}

.e-dlg-center-center, .e-quick-popup-wrapper.e-device{
  z-index: 1000000 !important;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* color-picker style  */

 #preview {
  background: transparent
    url('https://ej2.syncfusion.com/react/demos/src/color-picker/images/pen.png')
    no-repeat;
  display: inline-block;
  height: 80px;
  margin: 10px 0;
  min-width: 300px;
  max-width: 600px;
  background-color: #008000;
}

.e-input-group:not(.e-float-icon-left), .e-input-group.e-success:not(.e-float-icon-left), .e-input-group.e-warning:not(.e-float-icon-left), .e-input-group.e-error:not(.e-float-icon-left), .e-input-group.e-control-wrapper:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-success:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-warning:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-error:not(.e-float-icon-left){
  border: none;
}

.settings-btn{
  position: relative;
  text-align: center;
  font-size: 25px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 100%;
  transform: translateY(-100%);
  height: 50px;
  width: 50px;
  z-index: 1000;
}
